<div class="container">
  <h1>Таск-трэкер</h1>

  <div class="task-add">
    @if (taskToAdd()) {
    <app-task-add-form
      [taskAddForm]="taskAddForm"
      (close)="taskToAdd.set(null)"
      (save)="saveTask()"
    ></app-task-add-form>
    } @else {
    <button
      (click)="taskToAdd.set({})"
      mat-flat-button
      color="primary"
      class="new-task-add-btn"
    >
      <mat-icon>add</mat-icon>
      Добавить задачу
    </button>
    }
  </div>

  @if (tasksAreLoaded()) {
  <div class="tasks-filter">
    <button mat-button (click)="toogleFilter()">
      <mat-icon>@if (!showFilters) {tune} @else {close}</mat-icon>
      Фильтры и сортировка
    </button>
    @if (showFilters ) {
    <app-tasks-filter-form
      [filterForm]="filterForm"
      [assigneeIds]="assigneeIds()"
      (update)="onFilterUpdate()"
    ></app-tasks-filter-form
    >}
  </div>
  }

  <div class="tasks-list">
    @if(tasksAreLoaded()) {
    <app-tasks-list-view [tasksList]="tasksList()"></app-tasks-list-view>
    } @else {
    <div>Загрузка...</div>
    }
  </div>
</div>
