.container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
  }
}
